node_modules
bower_components

/static

/options.js
/package-lock.json
/node_modules
/src-assets/sass-global/**/*.css
/src-assets/sass-separate-files/**/*.css

/.idea
/db
/wp-admin
/wp-content
/wp-includes
/xmlrpc.php
/wp-trackback.php
/wp-signup.php
/wp-settings.php
/wp-mail.php
/wp-login.php
/wp-load.php
/wp-links-opml.php
/wp-cron.php
/wp-config.php
/wp-config-sample.php
/wp-comments-post.php
/wp-blog-header.php
/wp-activate.php
/readme.html
/license.txt
/index.php
/.htaccess
src-static/.DS_Store
