/**
 * Generic
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: none;
  font-family: $body_font;
  @include font-size(20px);
  line-height: 1.5;
  color: $dim_black;
  overflow-x: hidden;

  @include media-breakpoint-down(xl) {
    font-size: 18px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 16px;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
}

:root {
  // --scrollbar-width: 0px;
}

.overflow-stopped {
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.pos-rel {
  position: relative;
}

.container {
  width: 100%;
  max-width: 1755px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-lg {
  width: 100%;
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-xl {
  width: 100%;
  max-width: 2217px;
  margin: 0 auto;
}

.list-reset {
  list-style: none !important;
  padding-left: 0 !important;

  li {
    list-style: none !important;
  }
}

.has-float-element {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.image-ratio {
  position: relative;
  width: 100%;

  >img,
  >video,
  >iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include object-fit(cover, center);
  }

  &--16-9 {
    padding-top: 56.25%;
  }

  &--square {
    padding-top: 100%;
  }

  &--contain {

    >img,
    >video,
    >iframe {
      @include object-fit(contain, center);
    }
  }
}

.box-square {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.pointer-events-none {
  pointer-events: none;
}

.adjust-icon {
  font-size: 0;
  line-height: 0;
}

.title-block {
  width: 100%;
  max-width: 855px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $heading_font;
  }
}

.main-title {
  padding: 160px 0 126px;
}

.breadcrumb-wrapper {
  padding-bottom: 42px;

  .breadcrumb {
    .breadcrumb-item {
      +.breadcrumb-item {
        &::before {
          content: '>';
          color: $red;
          font-size: 19px;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .col {
    flex: 1 0 0% !important;
  }
}
