.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.fw-medium {
  font-weight: 500 !important;
}

.font-demi {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-overflow {
  @extend .text-overflow;
}

.font-retail {
  font-family: $heading_font;
}

.font-myriadpro {
  font-family: $font_myriad_pro;
}

a,
.nav-link {
  transition: 0.2s all ease;
  color: inherit;

  &:hover,
  &:focus {
    color: $red;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
}

h1,
.h1 {
  font-size: 80px;
  line-height: 1;
}

h2,
.h2 {
  font-size: 60px;
  line-height: 1;
}

h3,
.h3 {
  font-size: 40px;
  font-weight: 1.5;
}

h4,
.h4 {
  font-size: 32px;
  line-height: 1.12;
}

h5,
.h5 {
  font-size: 24px;
  line-height: 1.12;
}

h6,
.h6 {
  font-size: 17px;
  line-height: 25px;
}

.h6-lg {
  font-size: 20px;
  line-height: 1;
}

p {
  margin: 0;
}

.copy-xl {
  font-size: 50px;
  line-height: 1.2;
}

.copy-lg {
  font-size: 36px;
  line-height: 1.3;
}

.copy-md {
  font-size: 28px;
  line-height: 1.14;
}

.btn {
  transition: 0.2s all ease;
  box-shadow: none;
  font-size: 20px;
  line-height: 1.12;
  padding: 15px 28px;
  border-radius: 50px;
  @extend .text-capitalize;
  @extend .font-bold;

  @include media-breakpoint-down(md) {}

  &-reset {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    outline: none;
  }

  &.min-w-180 {
    min-width: 180px;
  }
}