<section class="blog">
  <div class="container">
    <div class="title-block text-center mx-auto">
      <h2>News & Events</h2>
    </div>
    <div class="blog--isotope-wrapper">
      <div class="blog-filter">
        <ul class="filters-list p-0 d-flex justify-content-center">
          <li><a href="#" class="btn btn-filter active" data-filter="*">View all</a></li>
          <li><a href="#" class="btn btn-filter" data-filter=".news">News</a></li>
          <li><a href="#" class="btn btn-filter" data-filter=".events">Events</a></li>
        </ul>
      </div>
      <div class="blog-wrapper">
        <div class="grid">
          <div class="grid-item news">
            <div class="blog-card">
              <div class="blog-card__inner">
                <div class="image-wrapper">
                  <div class="image-ratio image-ratio--square">
                    <img src="assets/img/collection-card-img-1.png" alt="">
                  </div>
                </div>
                <div class="blog-card__meta">
                  <span>08/21/23 NEWS</span>
                  <h4 class="my-4 py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tellus nunc
                  </h4>
                  <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a
                    fringilla tellus dictum vel. Aliquam erat volutpat. Donec lorem quam, vehicula in accumsan vitae
                  </p>
                  <div class="btn-wrapper mt-4 pt-2">
                    <a href="#" class="btn btn-outline-secondary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item events">
            <div class="blog-card">
              <div class="blog-card__inner">
                <div class="image-wrapper">
                  <div class="image-ratio image-ratio--square">
                    <img src="assets/img/collection-card-img-2.png" alt="">
                  </div>
                </div>
                <div class="blog-card__meta">
                  <span>08/21/23 NEWS</span>
                  <h4 class="my-4 py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tellus nunc
                  </h4>
                  <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a
                    fringilla tellus dictum vel. Aliquam erat volutpat. Donec lorem quam, vehicula in accumsan vitae
                  </p>
                  <div class="btn-wrapper mt-4 pt-2">
                    <a href="#" class="btn btn-outline-secondary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item events">
            <div class="blog-card">
              <div class="blog-card__inner">
                <div class="image-wrapper">
                  <div class="image-ratio image-ratio--square">
                    <img src="assets/img/collection-card-img-1.png" alt="">
                  </div>
                </div>
                <div class="blog-card__meta">
                  <span>08/21/23 NEWS</span>
                  <h4 class="my-4 py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tellus nunc
                  </h4>
                  <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a
                    fringilla tellus dictum vel. Aliquam erat volutpat. Donec lorem quam, vehicula in accumsan vitae
                  </p>
                  <div class="btn-wrapper mt-4 pt-2">
                    <a href="#" class="btn btn-outline-secondary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item news events">
            <div class="blog-card">
              <div class="blog-card__inner">
                <div class="image-wrapper">
                  <div class="image-ratio image-ratio--square">
                    <img src="assets/img/collection-card-img-2.png" alt="">
                  </div>
                </div>
                <div class="blog-card__meta">
                  <span>08/21/23 NEWS</span>
                  <h4 class="my-4 py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tellus nunc
                  </h4>
                  <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a
                    fringilla tellus dictum vel. Aliquam erat volutpat. Donec lorem quam, vehicula in accumsan vitae
                  </p>
                  <div class="btn-wrapper mt-4 pt-2">
                    <a href="#" class="btn btn-outline-secondary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item news">
            <div class="blog-card">
              <div class="blog-card__inner">
                <div class="image-wrapper">
                  <div class="image-ratio image-ratio--square">
                    <img src="assets/img/collection-card-img-1.png" alt="">
                  </div>
                </div>
                <div class="blog-card__meta">
                  <span>08/21/23 NEWS</span>
                  <h4 class="my-4 py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tellus nunc
                  </h4>
                  <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a
                    fringilla tellus dictum vel. Aliquam erat volutpat. Donec lorem quam, vehicula in accumsan vitae
                  </p>
                  <div class="btn-wrapper mt-4 pt-2">
                    <a href="#" class="btn btn-outline-secondary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item news events">
            <div class="blog-card">
              <div class="blog-card__inner">
                <div class="image-wrapper">
                  <div class="image-ratio image-ratio--square">
                    <img src="assets/img/collection-card-img-2.png" alt="">
                  </div>
                </div>
                <div class="blog-card__meta">
                  <span>08/21/23 NEWS</span>
                  <h4 class="my-4 py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tellus nunc
                  </h4>
                  <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a
                    fringilla tellus dictum vel. Aliquam erat volutpat. Donec lorem quam, vehicula in accumsan vitae
                  </p>
                  <div class="btn-wrapper mt-4 pt-2">
                    <a href="#" class="btn btn-outline-secondary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item news">
            <div class="blog-card">
              <div class="blog-card__inner">
                <div class="image-wrapper">
                  <div class="image-ratio image-ratio--square">
                    <img src="assets/img/collection-card-img-1.png" alt="">
                  </div>
                </div>
                <div class="blog-card__meta">
                  <span>08/21/23 NEWS</span>
                  <h4 class="my-4 py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tellus nunc
                  </h4>
                  <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a
                    fringilla tellus dictum vel. Aliquam erat volutpat. Donec lorem quam, vehicula in accumsan vitae
                  </p>
                  <div class="btn-wrapper mt-4 pt-2">
                    <a href="#" class="btn btn-outline-secondary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item news">
            <div class="blog-card">
              <div class="blog-card__inner">
                <div class="image-wrapper">
                  <div class="image-ratio image-ratio--square">
                    <img src="assets/img/collection-card-img-2.png" alt="">
                  </div>
                </div>
                <div class="blog-card__meta">
                  <span>08/21/23 NEWS</span>
                  <h4 class="my-4 py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tellus nunc
                  </h4>
                  <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a
                    fringilla tellus dictum vel. Aliquam erat volutpat. Donec lorem quam, vehicula in accumsan vitae
                  </p>
                  <div class="btn-wrapper mt-4 pt-2">
                    <a href="#" class="btn btn-outline-secondary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item events">
            <div class="blog-card">
              <div class="blog-card__inner">
                <div class="image-wrapper">
                  <div class="image-ratio image-ratio--square">
                    <img src="assets/img/collection-card-img-1.png" alt="">
                  </div>
                </div>
                <div class="blog-card__meta">
                  <span>08/21/23 NEWS</span>
                  <h4 class="my-4 py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tellus nunc
                  </h4>
                  <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a
                    fringilla tellus dictum vel. Aliquam erat volutpat. Donec lorem quam, vehicula in accumsan vitae
                  </p>
                  <div class="btn-wrapper mt-4 pt-2">
                    <a href="#" class="btn btn-outline-secondary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
