<section class="brand-featured bg-red">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="title-block text-white">
                    <h2 class="font-retail">Featured</h2>
                </div>
            </div>

            <div class="col-md-3">
                <div class="image-wrapper text-white">
                    <div class="image-ratio image-ratio--square">
                        <img src="assets/img/brand-featured-1.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="content-block text-white">
                    <h4 class="pb-2">HONDASHI® 4.23oz Box</h4>
                    <p class="pt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tellus nunc.<br><br>
                        Aenean accumsan lectus placerat tellus scelerisque, et bibendum dui faucibus. Ut vehicula nisi a hendrerit finibus.
                    </p>
                    <div class="btn-wrapper d-flex">
                        <a href="#" class="btn btn-black">Shop Now</a>
                        <a href="#" class="btn btn-white">View Product</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>