<section class="brand-detail">
    <div class="row">
        <div class="col-md-4">
            <div class="left-image">
                <img src="assets/img/brand-detail-1.png" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="content-block">
                <h6 class="h6-lg">FLAVOR INNOVATION</h6>
                <h2 class="font-retail">HONDASHI®, from real ingredient to flavor</h2>
                <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat. Aliquam lacinia est ultrices,
                    ultricies magna
                    maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.</p>
            </div>
            <div class="btn-wrapper">
                <a href="#" class="btn btn-black">Call to Action</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="right-image">
                <img src="assets/img/brand-detail-2.png" alt="">
            </div>
        </div>
    </div>
</section>