<section class="brand-story">
    <div class="brand-story__bg">
        <img src="assets/img/brand-story-bg.png">
    </div>
    <div class="brand-story__slider-with-content">
        <div class="container">
            <div class="brand-story__swiper">
                <div class="swiper brandStory">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="brand-story-image">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/brand-story-1.png" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="brand-story-image">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/brand-story-2.png" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="brand-story-image">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/brand-story-3.png" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="brand-story-image">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/brand-story-4.png" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="brand-story-image">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/brand-story-5.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="brand-story__headline">
                <div class="row">
                    <div class="col-md-5">
                        <div class="title-block text-white">
                            <h1>Brand Story Headline</h1>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="content-block text-white">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus lectus felis, eget ornare magna congue vel. Cras bibendum lobortis felis, sit amet ullamcorper
                                metus
                                tristique quis. Phasellus
                                commodo mauris libero.<br><br>

                                Fusce aliquet tortor vitae ante efficitur, ac convallis Leo tempus. Suspendisse potenti. Pellentesque interdum mollis ipsum nec pellentesque. Mauris scelerisque feugiat
                                purus eu ultricies. Vestibulum
                                pharetra nibh id felis tempus dapibus.
                            </p>
                            <div class="btn-wrapper">
                                <a href="#" class="btn btn-red">Call to Action</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>