<section class="collections-all">
  <div class="container">
    <div class="collections-all__top-row mb-2">
      <div class="products-count">
        <p>19 Products</p>
      </div>
      <div class="filter-close-button">
        <button type="button" class="btn btn-reset">Clear All Filters X</button>
      </div>
    </div>
    <div class="row gx-3">
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <a href="#" class="product-card__inner">
                    <div class="product-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square image-ratio--contain">
                            <img src="assets/img/product-thumbnail-1.png" alt="">
                        </div>
                    </div>
                    <div class="product-meta text-center">
                        <h5>Pork & Chicken Gyoza
                            Tray</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <a href="#" class="product-card__inner">
                    <div class="product-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square image-ratio--contain">
                            <img src="assets/img/product-thumbnail-2.png" alt="">
                        </div>
                    </div>
                    <div class="product-meta text-center">
                        <h5>Seafood Gyoza Tray</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <a href="#" class="product-card__inner">
                    <div class="product-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square image-ratio--contain">
                            <img src="assets/img/product-thumbnail-3.png" alt="">
                        </div>
                    </div>
                    <div class="product-meta text-center">
                        <h5>Vegetable Gyoza Tray</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <a href="#" class="product-card__inner">
                    <div class="product-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square image-ratio--contain">
                            <img src="assets/img/product-thumbnail-4.png" alt="">
                        </div>
                    </div>
                    <div class="product-meta text-center">
                        <h5>Pork & Chicken Gyoza Family Pack</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <a href="#" class="product-card__inner">
                    <div class="product-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square image-ratio--contain">
                            <img src="assets/img/product-thumbnail-5.png" alt="">
                        </div>
                    </div>
                    <div class="product-meta text-center">
                        <h5>Chicken Potstickers</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <a href="#" class="product-card__inner">
                    <div class="product-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square image-ratio--contain">
                            <img src="assets/img/product-thumbnail-6.png" alt="">
                        </div>
                    </div>
                    <div class="product-meta text-center">
                        <h5>Yakitori Chicken with Japanese
                            Style Fried Rice</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <a href="#" class="product-card__inner">
                    <div class="product-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square image-ratio--contain">
                            <img src="assets/img/product-thumbnail-7.png" alt="">
                        </div>
                    </div>
                    <div class="product-meta text-center">
                        <h5>Tokyo Style Shoyu Ramen with Chicken</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <a href="#" class="product-card__inner">
                    <div class="product-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square image-ratio--contain">
                            <img src="assets/img/product-thumbnail-8.png" alt="">
                        </div>
                    </div>
                    <div class="product-meta text-center">
                        <h5>HONDASHI® 2.11oz Bottle</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <a href="#" class="product-card__inner">
                    <div class="product-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square image-ratio--contain">
                            <img src="assets/img/product-thumbnail-9.png" alt="">
                        </div>
                    </div>
                    <div class="product-meta text-center">
                        <h5>HONDASHI® 4.23oz Box</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <a href="#" class="product-card__inner">
                    <div class="product-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square image-ratio--contain">
                            <img src="assets/img/product-thumbnail-10.png" alt="">
                        </div>
                    </div>
                    <div class="product-meta text-center">
                        <h5>Gyoza Dipping Sauce</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <a href="#" class="product-card__inner">
                    <div class="product-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square image-ratio--contain">
                            <img src="assets/img/product-thumbnail-11.png" alt="">
                        </div>
                    </div>
                    <div class="product-meta text-center">
                        <h5>Karaage</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="product-card">
                <a href="#" class="product-card__inner">
                    <div class="product-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square image-ratio--contain">
                            <img src="assets/img/product-thumbnail-1.png" alt="">
                        </div>
                    </div>
                    <div class="product-meta text-center">
                        <h5>Pork & Chicken Gyoza Family Pack</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
  </div>
</section>
