<section class="collections">
    <div class="container">
        <div class="title-block">
            <h2>Key brand messaging encouraging product discovery</h2>
        </div>
        <div class="collections-swiper">
            <div class="swiper-init swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="collection-card has-badge">
                            <a href="#" class="collection-card__inner d-block">
                                <span class="badge">Japan’s #1 <br>
                                    Gyoza Brand
                                </span>
                                <div class="image-wrapper">
                                    <div class="image-ratio image-ratio--square">
                                        <img src="assets/img/collection-card-img-1.png" alt="">
                                    </div>
                                </div>
                                <div class="text-wrapper mt-3 pt-1">
                                    <p>View All Dumplings</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="collection-card">
                            <a href="#" class="collection-card__inner d-block">
                                <div class="image-wrapper">
                                    <div class="image-ratio image-ratio--square">
                                        <img src="assets/img/collection-card-img-2.png" alt="">
                                    </div>
                                </div>
                                <div class="text-wrapper mt-3 pt-1">
                                    <p>View All Rice</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="collection-card">
                            <a href="#" class="collection-card__inner d-block">
                                <div class="image-wrapper">
                                    <div class="image-ratio image-ratio--square">
                                        <img src="assets/img/collection-card-img-1.png" alt="">
                                    </div>
                                </div>
                                <div class="text-wrapper mt-3 pt-1">
                                    <p>View All Dumplings</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="collection-card">
                            <a href="#" class="collection-card__inner d-block">
                                <div class="image-wrapper">
                                    <div class="image-ratio image-ratio--square">
                                        <img src="assets/img/collection-card-img-2.png" alt="">
                                    </div>
                                </div>
                                <div class="text-wrapper mt-3 pt-1">
                                    <p>View All Rice</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="collection-card">
                            <a href="#" class="collection-card__inner d-block">
                                <div class="image-wrapper">
                                    <div class="image-ratio image-ratio--square">
                                        <img src="assets/img/collection-card-img-1.png" alt="">
                                    </div>
                                </div>
                                <div class="text-wrapper mt-3 pt-1">
                                    <p>View All Dumplings</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="collection-card">
                            <a href="#" class="collection-card__inner d-block">
                                <div class="image-wrapper">
                                    <div class="image-ratio image-ratio--square">
                                        <img src="assets/img/collection-card-img-2.png" alt="">
                                    </div>
                                </div>
                                <div class="text-wrapper mt-3 pt-1">
                                    <p>View All Rice</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>