<section class="content-with-full-image bg-white">
    <div class="pattern-bg">
        <img src="assets/img/pattern.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="title-block text-black">
                    <h1>We help Asian Restaurants grow and thrive</h1>
                </div>
            </div>
            <div class="col-md-7">
                <div class="content-block text-black">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus lectus felis, eget ornare magna congue vel. Cras bibendum lobortis felis, sit amet ullamcorper metus
                    tristique quis. Phasellus
                    commodo mauris libero.<br><br>

                    Fusce aliquet tortor vitae ante efficitur, ac convallis Leo tempus. Suspendisse potenti. Pellentesque interdum mollis ipsum nec pellentesque. Mauris scelerisque feugiat purus eu
                    ultricies. Vestibulum
                    pharetra nibh id felis tempus dapibus.
                </div>
                <div class="btn-wrapper">
                    <a href="#" class="btn btn-black">Call to Action</a>
                </div>
            </div>
            <div class="col-md-12">
                <!--On Food Service Page Image is Full Width Without Container-->
                <div class="image-wrapper">
                    <div class="image-ratio image-ratio--square">
                        <img src="assets/img/static-banner.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>