<section class="content-with-image">
  <div class="container-xl px-0">
    <div class="row g-0">
      <div class="col-lg-6">
        <div class="content-block bg-red text-white">
          <div class="content-block__inner">
            <h2 class="h1">Recipe ideas</h2>
            <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a
              fringilla tellus dictum vel. Aliquam erat volutpat. Aliquam lacinia est ultrices, ultricies magna maximus,
              tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
            </p>
            <div class="btn-wrapper mt-4 pt-lg-3">
              <a href="#" class="btn btn-secondary">Call to Action</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image-wrapper">
          <div class="image-ratio image-ratio--square">
            <img src="assets/img/recipe-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!---- In Reverse Direction ---->
<section class="content-with-image">
  <div class="container-xl px-0">
    <div class="row g-0 flex-lg-row-reverse">
      <div class="col-lg-6">
        <div class="content-block bg-charcoal text-white">
          <div class="content-block__inner">
            <h2 class="h1">Where to Buy</h2>
            <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a
              fringilla tellus dictum vel. Aliquam erat volutpat. Aliquam lacinia est ultrices, ultricies magna maximus,
              tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
            </p>
            <div class="btn-wrapper mt-4 pt-lg-3">
              <a href="#" class="btn btn-primary">Call to Action</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image-wrapper">
          <div class="image-ratio image-ratio--square">
            <img src="assets/img/meal-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-with-image--bottom-image">
    <div class="image-ratio image-ratio--square image-ratio--contain">
      <img src="assets/img/content-with-image-bottom-img.png" alt="">
    </div>
  </div>
</section>
