<section class="content-with-bg">
  <div class="container">
    <div class="content-block text-white">
      <h2 class="h1">Ajinomoto brings the best of Asian flavors to your home kitchen.</h2>
      <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla
        tellus dictum vel. Aliquam erat volutpat. Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt
        lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
      </p>
      <div class="btn-wrapper mt-4">
        <a href="#" class="btn btn-secondary">
          Call to Action
        </a>
      </div>
    </div>
  </div>
  <div class="content-with-bg__image">
    <img src="assets/img/home-kitchen-bg.png" alt="" class="d-none d-lg-block">
    <img src="assets/img/home-kitchen-bg--mobile.png" alt="" class="d-lg-none">
  </div>
</section>
