<section class="customer-care">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="customer-care__title-block">
                    <h2>Customer Care</h2>
                </div>
                <div class="customer-care__info">
                    <p>
                        For questions, suggestions, compliments and concerns regarding our products:<br>
                        <span class="font-bold text-decoration-underline">Customer Feedback Form</span><br><br>

                        Business Opportunities/Inquiries: <span class="font-bold text-decoration-underline"><a href="mailto:customercare@ajinomotofoods.com"> customercare@ajinomotofoods.com</a></span>
                        <br><br>

                        Ajinomoto Works for Life: We care about our environment.<br>
                        For Environmental questions or concerns, please email:<br> <span class="font-bold text-decoration-underline"> <a
                                href="mailto:environment@ajinomotofoods.com">environment@ajinomotofoods.com</a></span>
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="customer-care__image">
                    <div class="image-ratio image-ratio--square">
                        <img src="assets/img/customer-care.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>