<section class="discover-more">
    <div class="container">
        <div class="title-block">
            <h2>Discover More</h2>
        </div>
        <div class="discover-more__swiper">
            <div class="swiper discoverMore">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="discover-card">
                            <div class="image-wrapper">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/discover-1.png" alt="">
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <h4 class="fw-bold pb-4">Okonomiyaki</h4>
                                <p>Serving Size: 3</p>
                                <p class="pb-2 mb-1">Pre Time: 60 mins</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="discover-card">
                            <div class="image-wrapper">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/discover-2.png" alt="">
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <h4 class="fw-bold pb-4">Shrimp Tempura</h4>
                                <p>Serving Size: 3</p>
                                <p class="pb-2 mb-1">Pre Time: 60 mins</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="discover-card">
                            <div class="image-wrapper">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/discover-3.png" alt="">
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <h4 class="fw-bold pb-4">Teriyaki Chicken Fried Rice</h4>
                                <p>Serving Size: 3</p>
                                <p class="pb-2 mb-1">Pre Time: 60 mins</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="discover-card">
                            <div class="image-wrapper">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/discover-4.png" alt="">
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <h4 class="fw-bold pb-4">Soup Dumplings</h4>
                                <p>Serving Size: 3</p>
                                <p class="pb-2 mb-1">Pre Time: 60 mins</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="discover-card">
                            <div class="image-wrapper">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/discover-5.png" alt="">
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <h4 class="fw-bold pb-4">Tofu Miso Soup</h4>
                                <p>Serving Size: 3</p>
                                <p class="pb-2 mb-1">Pre Time: 60 mins</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="discover-card">
                            <div class="image-wrapper">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/discover-6.png" alt="">
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <h4 class="fw-bold pb-4">Tokyo Shoyu Ramen</h4>
                                <p>Serving Size: 3</p>
                                <p class="pb-2 mb-1">Pre Time: 60 mins</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>