<section class="faq-accordion">
    <div class="container">
        <div class="faq-accordion__blocks">
            <div class="faq-accordion__blocks--inner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="title-block">
                            <h3 class="font-retail font-medium">Category Title</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="accordion-faq-block">
                            <div class="accordion accordion-flush" id="faqAccordion-1">
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="faqaccordionOne" data-bs-parent="#faqAccordion-1">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionTwo">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="faqaccordionTwo" data-bs-parent="#faqAccordion-1">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="faqaccordionThree" data-bs-parent="#faqAccordion-1">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="faqaccordionFour" data-bs-parent="#faqAccordion-1">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionFive">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="faqaccordionFive" data-bs-parent="#faqAccordion-1">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionSix">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                                            aria-controls="collapseSix">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="faqaccordionSix" data-bs-parent="#faqAccordion-1">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionSeven">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false"
                                            aria-controls="collapseSeven">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="faqaccordionSeven" data-bs-parent="#faqAccordion-1">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionEight">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false"
                                            aria-controls="collapseEight">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="faqaccordionEight" data-bs-parent="#faqAccordion-1">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="faq-accordion__blocks--inner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="title-block">
                            <h3 class="font-retail font-medium">Category Title</h3>
                        </div>
                        <div class="faq-image-left">
                            <img src="assets/img/faq-image.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="accordion-faq-block">
                            <div class="accordion accordion-flush" id="faqAccordion-2">
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionOne2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true"
                                            aria-controls="collapseOne2">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseOne2" class="accordion-collapse collapse" aria-labelledby="faqaccordionOne2" data-bs-parent="#faqAccordion-2">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionTwo2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false"
                                            aria-controls="collapseTwo2">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="faqaccordionTwo2" data-bs-parent="#faqAccordion-2">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionThree2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false"
                                            aria-controls="collapseThree2">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="faqaccordionThree2" data-bs-parent="#faqAccordion-2">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionFour2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour2" aria-expanded="false"
                                            aria-controls="collapseFour2">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseFour2" class="accordion-collapse collapse" aria-labelledby="faqaccordionFour2" data-bs-parent="#faqAccordion-2">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionFive2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive2" aria-expanded="false"
                                            aria-controls="collapseFive2">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseFive2" class="accordion-collapse collapse" aria-labelledby="faqaccordionFive2" data-bs-parent="#faqAccordion-2">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionSix2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix2" aria-expanded="false"
                                            aria-controls="collapseSix2">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseSix2" class="accordion-collapse collapse" aria-labelledby="faqaccordionSix2" data-bs-parent="#faqAccordion-2">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionSeven2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven2" aria-expanded="false"
                                            aria-controls="collapseSeven2">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseSeven2" class="accordion-collapse collapse" aria-labelledby="faqaccordionSeven2" data-bs-parent="#faqAccordion-2">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header font-retail" id="faqaccordionEight2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight2" aria-expanded="false"
                                            aria-controls="collapseEight2">
                                            <h4>Question Headline Goes Here</h4>
                                        </button>
                                    </div>
                                    <div id="collapseEight2" class="accordion-collapse collapse" aria-labelledby="faqaccordionEight2" data-bs-parent="#faqAccordion-2">
                                        <div class="accordion-body">
                                            <p>
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae
                                                Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                                Donec
                                                lorem quam, vehicula in accumsan vitae.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq-image-right">
                            <div class="image-ratio image-ratio--sqaure">
                                <img src="assets/img/faq-image-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>