<section class="featured-collection">
  <div class="container">
    <div class="title-block text-center">
      <h2 class="text-primary">Meet Japans most loved flavors, in your home.</h2>
    </div>
  </div>
  <div class="featured-collection__images-wrapper">
    <div class="image-wrapper">
        <img src="assets/img/hover-image-1.png" alt="">
    </div>
    <div class="image-wrapper">
        <img src="assets/img/hover-image-2.png" alt="">
    </div>
    <div class="image-wrapper">
        <img src="assets/img/hover-image-1.png" alt="">
    </div>
    <div class="image-wrapper">
        <img src="assets/img/hover-image-2.png" alt="">
    </div>
    <div class="image-wrapper">
        <img src="assets/img/hover-image-1.png" alt="">
    </div>
    <div class="image-wrapper">
        <img src="assets/img/hover-image-2.png" alt="">
    </div>
    <div class="image-wrapper">
        <img src="assets/img/hover-image-1.png" alt="">
    </div>
    <div class="image-wrapper">
        <img src="assets/img/hover-image-2.png" alt="">
    </div>
    <div class="image-wrapper">
        <img src="assets/img/hover-image-1.png" alt="">
    </div>
    <div class="image-wrapper">
        <img src="assets/img/hover-image-2.png" alt="">
    </div>
    <div class="image-wrapper">
        <img src="assets/img/hover-image-1.png" alt="">
    </div>
    <div class="image-wrapper">
        <img src="assets/img/hover-image-2.png" alt="">
    </div>
    <div class="image-wrapper">
        <img src="assets/img/hover-image-1.png" alt="">
    </div>
    <div class="image-wrapper">
        <img src="assets/img/hover-image-2.png" alt="">
    </div>
  </div>
  <div class="featured-collection--swiper bg-yellow">
    <div class="swiper-init swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-1.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-2.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-3.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-4.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-5.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-6.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-2.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-3.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-5.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-6.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-3.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-4.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-5.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured-collection__block">
            <div class="featured-collection__block__inner">
              <div class="image-wrapper">
                <div class="image-ratio image-ratio--square image-ratio--contain">
                  <img src="assets/img/flavor-6.png" alt="">
                </div>
              </div>
              <div class="product-meta">
                <h5 class="font-helvetica font-bold mb-3">Pork & Chicken Gyoza Dumplings</h5>
                <div class="btn-wrapper mt-4">
                  <a href="#" class="btn btn-secondary">View Product</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
