<section class="featured-product">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-content">
                <div class="featured-product__content">
                    <h2 class="font-retail">You may also like</h2>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-outline-black">All Products</a>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-swiper">
                <div class="featured-product__slider">
                    <div class="swiper featuredProduct">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="featured-product-card">
                                    <div class="image-wrapper">
                                        <img src="assets/img/static-2.png">
                                    </div>
                                    <div class="content-block">
                                        <h5 class="pb-4">Karaage</h5>
                                        <a href="#" class="btn btn-black">View Product</a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="featured-product-card">
                                    <div class="image-wrapper">
                                        <img src="assets/img/static-3.png">
                                    </div>
                                    <div class="content-block">
                                        <h5 class="pb-4">Pork & Chicken Gyoza</h5>
                                        <a href="#" class="btn btn-black">View Product</a>
                                    </div>
                                </div>
                            </div>


                            <div class="swiper-slide">
                                <div class="featured-product-card">
                                    <div class="image-wrapper">
                                        <img src="assets/img/static-4.png">
                                    </div>
                                    <div class="content-block">
                                        <h5 class="pb-4">Vegetable Chow Mein</h5>
                                        <a href="#" class="btn btn-black">View Product</a>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="featured-product-card">
                                    <div class="image-wrapper">
                                        <img src="assets/img/static-1.png">
                                    </div>
                                    <div class="content-block">
                                        <h5 class="pb-4">HONDASHI® 4.23oz Box</h5>
                                        <a href="#" class="btn btn-black">View Product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>