<section class="featured-recipes">
    <div class="container">
        <div class="title-block text-white mb-5 pb-3">
            <h2>Featured Recipes</h2>
        </div>
        <div class="featured-recipes__cards">
            <div class="row">
                <div class="col-lg-4 py-4">
                    <div class="featured-recipes__cards--each">
                        <div class="image-wrapper">
                            <div class="image-ratio image-ratio--square">
                                <img src="assets/img/featured-recipe-1.png" alt="">
                            </div>
                        </div>
                        <div class="featured-meta text-white">
                            <h4 class="fw-bold pb-4">Recipe Title</h4>
                            <p>Serving Size: 3</p>
                            <p class="pb-2 mb-1">Pre Time: 60 mins</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 py-4">
                    <div class="featured-recipes__cards--each">
                        <div class="image-wrapper">
                            <div class="image-ratio image-ratio--square">
                                <img src="assets/img/featured-recipe-2.png" alt="">
                            </div>
                        </div>
                        <div class="featured-meta text-white">
                            <h4 class="fw-bold pb-4">Recipe Title</h4>
                            <p>Serving Size: 3</p>
                            <p class="pb-2 mb-1">Pre Time: 60 mins</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 py-4">
                    <div class="featured-recipes__cards--each">
                        <div class="image-wrapper">
                            <div class="image-ratio image-ratio--square">
                                <img src="assets/img/featured-recipe-3.png" alt="">
                            </div>
                        </div>
                        <div class="featured-meta text-white">
                            <h4 class="fw-bold pb-4">Recipe Title</h4>
                            <p>Serving Size: 3</p>
                            <p class="pb-2 mb-1">Pre Time: 60 mins</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>