<section class="filters-tab">
  <div class="container">
    <ul class="nav nav-tabs" id="filtersTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="filtersTab__1" data-bs-toggle="tab" data-bs-target="#filtersTabPane__1"
          type="button" role="tab" aria-controls="filtersTabPane__1" aria-selected="true">Filter by Type</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="filtersTab__2" data-bs-toggle="tab" data-bs-target="#filtersTabPane__2"
          type="button" role="tab" aria-controls="filtersTabPane__2" aria-selected="false">Filter by Brand</button>
      </li>
    </ul>
    <div class="tab-content" id="filtersTabContent">
      <div class="tab-pane fade show active" id="filtersTabPane__1" role="tabpanel" aria-labelledby="filtersTab__1"
        tabindex="0">
        <div class="filters-tab__content">
          <div class="row justify-content-center">
            <div class="col-lg-2 col-6 py-4">
              <div class="filter-block">
                <a href="#" class="filter-block__inner">
                  <div class="image-wrapper">
                    <div class="image-ratio image-ratio--square">
                      <img src="assets/img/collection-filter-1.png" alt="">
                    </div>
                  </div>
                  <div class="filter-meta">
                    <h6>Dumplings</h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-6 py-4">
              <div class="filter-block">
                <a href="#" class="filter-block__inner">
                  <div class="image-wrapper">
                    <div class="image-ratio image-ratio--square">
                      <img src="assets/img/collection-filter-2.png" alt="">
                    </div>
                  </div>
                  <div class="filter-meta">
                    <h6>Rice</h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-6 py-4">
              <div class="filter-block">
                <a href="#" class="filter-block__inner">
                  <div class="image-wrapper">
                    <div class="image-ratio image-ratio--square">
                      <img src="assets/img/collection-filter-3.png" alt="">
                    </div>
                  </div>
                  <div class="filter-meta">
                    <h6>Noodles</h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-6 py-4">
              <div class="filter-block">
                <a href="#" class="filter-block__inner">
                  <div class="image-wrapper">
                    <div class="image-ratio image-ratio--square">
                      <img src="assets/img/collection-filter-4.png" alt="">
                    </div>
                  </div>
                  <div class="filter-meta">
                    <h6>Seasoning & Sauce</h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-6 py-4">
              <div class="filter-block">
                <a href="#" class="filter-block__inner">
                  <div class="image-wrapper">
                    <div class="image-ratio image-ratio--square">
                      <img src="assets/img/collection-filter-5.png" alt="">
                    </div>
                  </div>
                  <div class="filter-meta">
                    <h6>Umami Seasoning</h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-6 py-4">
              <div class="filter-block">
                <a href="#" class="filter-block__inner">
                  <div class="image-wrapper">
                    <div class="image-ratio image-ratio--square">
                      <img src="assets/img/collection-filter-6.png" alt="">
                    </div>
                  </div>
                  <div class="filter-meta">
                    <h6>Asian Style Chicken</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="filtersTabPane__2" role="tabpanel" aria-labelledby="filtersTab__2" tabindex="0">
        <div class="filters-tab__content">
          <div class="row justify-content-center">
            <div class="col-lg-2 col-6 py-4">
              <div class="filter-block">
                <a href="#" class="filter-block__inner">
                  <div class="image-wrapper">
                    <div class="image-ratio image-ratio--square">
                      <img src="assets/img/brand-logo-1.png" alt="">
                    </div>
                  </div>
                  <div class="filter-meta">
                    <h6>Ajinomoto® Frozen Food</h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-6 py-4">
              <div class="filter-block">
                <a href="#" class="filter-block__inner">
                  <div class="image-wrapper">
                    <div class="image-ratio image-ratio--square">
                      <img src="assets/img/brand-logo-2.png" alt="">
                    </div>
                  </div>
                  <div class="filter-meta">
                    <h6>Hondashi®</h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-6 py-4">
              <div class="filter-block">
                <a href="#" class="filter-block__inner">
                  <div class="image-wrapper">
                    <div class="image-ratio image-ratio--square">
                      <img src="assets/img/brand-logo-3.png" alt="">
                    </div>
                  </div>
                  <div class="filter-meta">
                    <h6>AJI-NO-MOTO® MSG</h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-6 py-4">
              <div class="filter-block">
                <a href="#" class="filter-block__inner">
                  <div class="image-wrapper">
                    <div class="image-ratio image-ratio--square">
                      <img src="assets/img/brand-logo-4.png" alt="">
                    </div>
                  </div>
                  <div class="filter-meta">
                    <h6>Hi-me®</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
