<header class="site-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg justify-content-between p-0 position-static">
      <a class="site-logo p-0" href="#">
        <img src="assets/img/site-logo.svg" alt="Site Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNavigation"
        aria-controls="siteNavigation" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="39" height="23" viewBox="0 0 39 23">
          <g id="Group_128" data-name="Group 128" transform="translate(-331 -49)">
            <line id="Line_7" data-name="Line 7" x1="39" transform="translate(331 50)" fill="none" stroke="#fff"
              stroke-width="2" />
            <line id="Line_8" data-name="Line 8" x1="39" transform="translate(331 61)" fill="none" stroke="#fff"
              stroke-width="2" />
            <line id="Line_9" data-name="Line 9" x1="39" transform="translate(331 71)" fill="none" stroke="#fff"
              stroke-width="2" />
          </g>
        </svg>
      </button>
      <div class="collapse navbar-collapse" id="siteNavigation">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNavigation"
          aria-controls="siteNavigation" aria-expanded="true" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="21.414" height="21.414" viewBox="0 0 21.414 21.414">
            <g id="Group_190" data-name="Group 190" transform="translate(-339.793 -49.793)">
              <line id="Line_10" data-name="Line 10" x2="20" y2="20" transform="translate(340.5 50.5)" fill="none"
                stroke="#fff" stroke-width="2" />
              <line id="Line_11" data-name="Line 11" y1="20" x2="20" transform="translate(340.5 50.5)" fill="none"
                stroke="#fff" stroke-width="2" />
            </g>
          </svg>
        </button>
        <div class="navbar-nav-wrapper w-100 d-flex align-items-lg-center justify-content-between">
          <ul class="navbar-nav">
            <li class="nav-item dropdown position-static">
              <a class="nav-link dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Brands</a>
              <div class="dropdown-menu mega-menu bg-light">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <img src="assets/img/brand-logo-1.png" alt="">
                        </div>
                        <p class="pt-1">Ajinomoto® Frozen Food</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <img src="assets/img/brand-logo-2.png" alt="">
                        </div>
                        <p class="pt-1">Hondashi®</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <img src="assets/img/brand-logo-3.png" alt="">
                        </div>
                        <p class="pt-1">AJI-NO-MOTO® MSG</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <img src="assets/img/brand-logo-4.png" alt="">
                        </div>
                        <p class="pt-1">hi-me®</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown position-static">
              <a class="nav-link dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Products</a>
              <div class="dropdown-menu mega-menu bg-light">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-1.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Dumplings</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-2.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Rice</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-3.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Noodles</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-4.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Seasonings & Sauces</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-5.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Umami Seasoning</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-6.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Asian Style Chicken</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown position-static">
              <a class="nav-link dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Food Service</a>
              <div class="dropdown-menu mega-menu bg-light">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-1.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Dumplings</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-2.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Rice</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-3.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Noodles</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-4.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Seasonings & Sauces</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-5.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Umami Seasoning</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-6.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Asian Style Chicken</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Recipes</a></li>
            <li class="nav-item dropdown position-static">
              <a class="nav-link dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">About Us</a>
              <div class="dropdown-menu mega-menu bg-light">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-1.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Dumplings</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-2.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Rice</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-3.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Noodles</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-4.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Seasonings & Sauces</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-5.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Umami Seasoning</p>
                      </a>
                    </div>
                    <div class="col-lg-2">
                      <a href="#" class="mega-menu__card d-block h-auto">
                        <div class="mega-menu__card__inner bg-white mb-3">
                          <div class="image-ratio image-ratio--square">
                            <img src="assets/img/menu-product-6.png" alt="">
                          </div>
                        </div>
                        <p class="pt-1">Asian Style Chicken</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="btn-wrapper">
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
