<section class="hero-inner-page">
    <div class="hero-inner-page__bg-pattern">
        <img src="assets/img/hero-inner-img.png" alt="">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="hero-inner-page__caption text-white">
                    <h1>Frequently Asked Questions</h1>
                    <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-inner-page__bottom-image">
        <div class="image-ratio image-ratio--square image-ratio--contain">
            <img src="assets/img/hero-bottom-image.png" alt="">
        </div>
    </div>
</section>