<section class="hero">
  <div class="hero-bg-swiper h-100">
    <div class="swiper h-100">
      <div class="swiper-wrapper h-100">
        <div class="swiper-slide w-100 h-100">
          <div class="image-ratio image-ratio--16-9 h-100">
            <video loop autoplay muted playsinline>
              <source
                src="https://assets.mixkit.co/videos/preview/mixkit-flying-through-the-clouds-with-the-radiant-sun-14171-large.mp4"
                data-wf-ignore="true">
            </video>
          </div>
        </div>
        <div class="swiper-slide w-100 h-100">
          <div class="image-ratio image-ratio--16-9 h-100">
            <video loop autoplay muted playsinline>
              <source
                src="https://assets.mixkit.co/videos/preview/mixkit-flying-through-the-clouds-with-the-radiant-sun-14171-large.mp4"
                data-wf-ignore="true">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-caption">
    <div class="container">
      <div class="hero-caption__pagination"></div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide w-100">
            <div class="content-block text-white">
              <h2>Hero banner:</h2>
              <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula,
                a
                fringilla tellus dictum vel. Aliquam erat volutpat. </p>
              <div class="btn-wrapper">
                <a href="#" class="btn btn-white">Call to Action</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide w-100">
            <div class="content-block text-white">
              <h2>Hero banner:</h2>
              <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula,
                a
                fringilla tellus dictum vel. Aliquam erat volutpat. </p>
              <div class="btn-wrapper">
                <a href="#" class="btn btn-white">Call to Action</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-bottom-image">
    <div class="image-ratio image-ratio--square image-ratio--contain">
      <img src="assets/img/hero-bottom-image.png" alt="">
    </div>
  </div>
</section>
