<section class="hero">
  <div class="hero-swiper-wrapper">
    <div class="hero-swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide__inner">
            <div class="media-block">
              <div class="image-ratio image-ratio--16-9">
                <video loop autoplay muted playsinline>
                  <source
                    src="https://assets.mixkit.co/videos/preview/mixkit-flying-through-the-clouds-with-the-radiant-sun-14171-large.mp4"
                    data-wf-ignore="true">
                </video>
              </div>
            </div>
            <div class="hero-caption">
                <div class="container">
                    <div class="content-block text-white">
                        <h1>Hero banner:</h1>
                        <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat. </p>
                        <div class="btn-wrapper">
                            <a href="#" class="btn btn-white">Call to Action</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide__inner">
            <div class="media-block">
              <div class="image-ratio image-ratio--16-9">
                <video loop autoplay muted playsinline>
                  <source
                    src="https://assets.mixkit.co/videos/preview/mixkit-flying-through-the-clouds-with-the-radiant-sun-14171-large.mp4"
                    data-wf-ignore="true">
                </video>
              </div>
            </div>
            <div class="hero-caption">
                <div class="container">
                    <div class="content-block text-white">
                        <h1>Hero banner: latest brand or product highlight</h1>
                        <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat. </p>
                        <div class="btn-wrapper">
                            <a href="#" class="btn btn-white">Call to Action</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination-wrapper">
          <div class="container">
              <div class="swiper-pagination"></div>
          </div>
      </div>
    </div>
  </div>
  <div class="hero-bottom-image">
    <div class="image-ratio image-ratio--square image-ratio--contain">
        <img src="assets/img/hero-bottom-image.png" alt="">
    </div>
  </div>
</section>
