<section class="ingredients">
    <div class="ingredients-bg">
        <img src="assets/img/Recipe-Banner.png" alt="">
    </div>

    <div class="ingredients__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="title-block text-white">
                        <h2>Ingredients</h2>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ingredients-desp text-white">
                        <ul>
                            <li>4 servings</li><br>
                            <li><span class="font-bold">Sukiyaki-type beef round</span> 400g</li>
                            <li><span class="font-bold">Broiled tofu</span> 1 block</li>
                            <li><span class="font-bold">Shirataki konjac noodles</span> 1 pack</li>
                            <li><span class="font-bold">Shirataki konjac noodles</span> 1 pack</li>
                            <li><span class="font-bold">Long green onion</span> 1 stalk</li>
                            <li><span class="font-bold">Garland chrysanthemum</span> 1/2 bunch</li>
                            <li><span class="font-bold">HONDASHI™</span> 1/2 tsp</li>
                            <li><span class="font-bold">Soy sauce</span> 1/4 cup</li>
                            <li><span class="font-bold">Mirin sweet cooking sake</span> 1/4 cup</li>
                            <li><span class="font-bold">Sake</span> 1/4 cup</li>
                            <li><span class="font-bold">Water</span> 1/4 cup</li>
                            <li><span class="font-bold">Eggs</span> 4 pcs</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ingredients-product">
                        <div class="image-wrapper">
                            <img src="assets/img/recipe-product-image.png" alt="">
                        </div>

                        <div class="product-title">
                            <h5 class="font-medium">HONDASHI® 2.11oz Bottle</h5>
                        </div>

                        <div class="btn-wrapper">
                            <a href="#" class="btn btn-black">View Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>