<section class="insta-feed">
    <div class="container">
        <div class="title-block">
            <h2>Follow Us @AjinomotoFoodsNorthAmerica</h2>
        </div>
    </div>
    <div class="insta-feed__swiper">
        <div class="swiper-init swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-4.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-5.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-6.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-7.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-4.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-4.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-5.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-6.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-7.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="insta-feed__image">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/insta-feed-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>