<section class="news-articles">
    <div class="container">
        <div class="news-articles__wrapper">

            <div class="articles-title">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tellus nunc</h2>
            </div>

            <div class="article-meta">
                <p>08/21/23</p>
                <p class="ms-4">NEWS</p>
            </div>
            <div class="article-featured-image">
                <div class="image-ratio image-ratio--square">
                    <img src="assets/img/news-and-events.png" alt="">
                </div>
            </div>

            <div class="rte generic-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus lectus felis, eget ornare magna congue vel. Cras bibendum lobortis felis, sit amet ullamcorper metus tristique
                    quis. Phasellus
                    commodo mauris libero. Fusce aliquet tortor vitae ante efficitur, ac convallis Leo tempus. Suspendisse potenti. Pellentesque interdum mollis ipsum nec pellentesque. Mauris
                    scelerisque feugiat purus eu
                    ultricies. Vestibulum pharetra nibh id felis tempus dapibus.</p>

                <p>Praesent ut felis enim. Ut efficitur, dolor quis eleifend lobortis, massa felis aliquet erat, nec fringilla risus nunc ac leo. Integer sit amet purus nec mi aliquam scelerisque.
                    Aenean quam est,
                    scelerisque sed eros porttitor, molestie condimentum sem. Donec eu dignissim sem. Praesent congue tristique eros, eget ultricies velit iaculis ut. Suspendisse enim libero, egestas
                    non tempor eu,
                    aliquam quis mauris. Donec in est vel risus commodo aliquam et vel libero. Nunc sed tortor tempor augue placerat elementum. Quisque hendrerit porta enim. Aliquam tristique, ligula
                    condimentum ultrices
                    suscipit, ante metus pellentesque dui, id volutpat diam elit congue diam. Donec porta mauris vel nisl finibus fermentum. Proin at eros ultrices, suscipit ipsum ut, convallis dolor.
                    Nulla porta
                    ultricies odio sed cursus.</p>

                <p>Maecenas egestas mattis nisi, at maximus est fringilla id. Maecenas at velit in ipsum fermentum imperdiet. Etiam pulvinar ligula quam, a pretium nisi varius ac. Aliquam velit enim,
                    auctor et varius
                    ac, vestibulum et metus. Nulla ipsum lorem, vehicula eu urna nec, vulputate placerat nulla. Suspendisse potenti. Sed eget nunc sit amet neque bibendum viverra sit amet et nisi. In
                    hac habitasse platea
                    dictumst. Curabitur sagittis sagittis lacus ac dignissim. Sed vel consectetur lectus. Mauris ac porta justo. Aenean ut augue vel sapien imperdiet consectetur at euismod sapien.
                    Donec in nulla elit.</p>
            </div>
        </div>
    </div>
</section>