<section class="our-brands">
  <div class="container">
    <div class="title-block text-white">
      <h2>Discover our brands</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 py-3">
        <div class="our-brands__block">
          <div class="our-brands__block--inner bg-white">
            <h4>Ajinomoto® Frozen Food</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <div class="image-wrapper">
              <img src="assets/img/brand-logo-1.png" alt="">
            </div>
            <div class="btn-wrapper mt-auto">
              <a href="#" class="btn btn-secondary btn-sm">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 py-3">
        <div class="our-brands__block">
          <div class="our-brands__block--inner bg-white">
            <h4>Ajinomoto® Frozen Food</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <div class="image-wrapper">
              <img src="assets/img/brand-logo-2.png" alt="">
            </div>
            <div class="btn-wrapper mt-auto">
              <a href="#" class="btn btn-secondary btn-sm">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 py-3">
        <div class="our-brands__block">
          <div class="our-brands__block--inner bg-white">
            <h4>Ajinomoto® Frozen Food</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <div class="image-wrapper">
              <img src="assets/img/brand-logo-3.png" alt="">
            </div>
            <div class="btn-wrapper mt-auto">
              <a href="#" class="btn btn-secondary btn-sm">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 py-3">
        <div class="our-brands__block">
          <div class="our-brands__block--inner bg-white">
            <h4>Ajinomoto® Frozen Food</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            <div class="image-wrapper">
              <img src="assets/img/brand-logo-4.png" alt="">
            </div>
            <div class="btn-wrapper mt-auto">
              <a href="#" class="btn btn-secondary btn-sm">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="our-brands--bottom-image">
    <div class="image-ratio image-ratio--square image-ratio--contain">
      <img src="assets/img/our-brands-bottom-image.png" alt="">
    </div>
  </div>
</section>
