<section class="product-usage">
    <div class="container">
        <div class="product-usage__swiper">
            <div class="swiper productUsage">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-usage__blocks">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="image-wrapper">
                                        <div class="image-ratio image-ratio--square">
                                            <img src="assets/img/brand-swiper-1.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="content-block">
                                        <h5 class="font-helvetica fw-bold">WAYS TO USE HONDASHI</h5>
                                        <h2>Add a Japanese twist</h2>
                                        <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                            Aliquam lacinia est ultrices, ultricies magna
                                            maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-usage__blocks">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="image-wrapper">
                                        <div class="image-ratio image-ratio--square">
                                            <img src="assets/img/brand-swiper-2.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="content-block">
                                        <h5>WAYS TO USE HONDASHI</h5>
                                        <h2>Add a Japanese twist</h2>
                                        <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                            Aliquam lacinia est ultrices, ultricies magna
                                            maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="product-usage__blocks">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="image-wrapper">
                                        <div class="image-ratio image-ratio--square">
                                            <img src="assets/img/brand-swiper-3.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="content-block">
                                        <h5>WAYS TO USE HONDASHI</h5>
                                        <h2>Add a Japanese twist</h2>
                                        <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.
                                            Aliquam lacinia est ultrices, ultricies magna
                                            maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-wrapper">
                    <div class="swiper-button-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="86" height="86" viewBox="0 0 86 86">
                            <g id="Group_232" data-name="Group 232" transform="translate(-1026 -5456)">
                                <g id="Ellipse_4" data-name="Ellipse 4" transform="translate(1026 5456)" fill="none" stroke="#131411" stroke-width="1">
                                    <circle cx="43" cy="43" r="43" stroke="none" />
                                    <circle cx="43" cy="43" r="42.5" fill="none" />
                                </g>
                                <g id="Border" transform="translate(1076.25 5486.281) rotate(90)">
                                    <path id="Border-2" data-name="Border" d="M14.5,12.719,1.826,25.439,0,23.607,10.929,12.69.029,1.8,1.826,0Z" transform="translate(25.439) rotate(90)"
                                        fill="#131411" />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="swiper-button-next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="86" height="86" viewBox="0 0 86 86">
                            <g id="Group_233" data-name="Group 233" transform="translate(-1026 -5456)">
                                <g id="Ellipse_4" data-name="Ellipse 4" transform="translate(1026 5456)" fill="none" stroke="#131411" stroke-width="1">
                                    <circle cx="43" cy="43" r="43" stroke="none" />
                                    <circle cx="43" cy="43" r="42.5" fill="none" />
                                </g>
                                <g id="Border" transform="translate(1076.25 5486.281) rotate(90)">
                                    <path id="Border-2" data-name="Border" d="M14.5,12.719,1.826,25.439,0,23.607,10.929,12.69.029,1.8,1.826,0Z" transform="translate(0 14.5) rotate(-90)"
                                        fill="#131411" />
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-bottom-image">
            <div class="image-ratio image-ratio--square">
                <img src="assets/img/spoon-img.png" alt="">
            </div>
        </div>
    </div>
</section>