<section class="product-detail">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="product-detail__swiper">
                <div class="swiper product-detail__Main">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-detail__featuredimage">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/product-detail-img-1.png" class="product-detail__featured" />
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-detail__featuredimage">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/product-detail-img-2.png" class="product-detail__featured" />
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-detail__featuredimage">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/product-detail-img-3.png" class="product-detail__featured" />
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-detail__featuredimage">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/product-detail-img-4.png" class="product-detail__featured" />
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-detail__featuredimage">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/product-detail-img-5.png" class="product-detail__featured" />
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-detail__featuredimage">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/product-detail-img-6.png" class="product-detail__featured" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-button-next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15.676" height="27.501" viewBox="0 0 15.676 27.501">
                            <g id="Border" transform="translate(0 27.501) rotate(-90)">
                                <path id="Border-2" data-name="Border" d="M15.676,13.75,1.974,27.5,0,25.521l11.815-11.8L.031,1.948,1.974,0Z" transform="translate(27.501) rotate(90)" fill="#fff" />
                            </g>
                        </svg>
                    </div>
                    <div class="swiper-button-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15.676" height="27.501" viewBox="0 0 15.676 27.501">
                            <g id="Border" transform="translate(15.676) rotate(90)">
                                <path id="Border-2" data-name="Border" d="M15.676,13.75,1.974,27.5,0,25.521l11.815-11.8L.031,1.948,1.974,0Z" transform="translate(27.501) rotate(90)" fill="#fff" />
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="swiper product-detail__ThumbsNav">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-detail__Thumbs">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/product-detail-img-1.png" class="product-detail__thumbimg" />
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-detail__Thumbs">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/product-detail-img-2.png" class="product-detail__thumbimg" />
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-detail__Thumbs">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/product-detail-img-3.png" class="product-detail__thumbimg" />
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-detail__Thumbs">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/product-detail-img-4.png" class="product-detail__thumbimg" />
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-detail__Thumbs">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/product-detail-img-5.png" class="product-detail__thumbimg" />
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="product-detail__Thumbs">
                                <div class="image-ratio image-ratio--square">
                                    <img src="assets/img/product-detail-img-6.png" class="product-detail__thumbimg" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="logo-wrapper">
                    <div class="image-wrapper">
                        <img src="assets/img/product-logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-detail__content">
                <div class="product-category">
                    <p class="text-red font-bold">PRODUCTS > RICE</p>
                </div>
                <div class="product-title">
                    <h1 class="font-retail">Yakitori Chicken Fried Rice</h1>
                </div>
                <div class="product-swatches">
                    <div class="product-swatches__title">
                        <h5 class="font-bold">Available Sizes:</h5>
                    </div>
                    <div class="product-swatches__btns">
                        <ul>
                            <li class="active"><a href="#">12 oz</a></li>
                            <li><a href="#">64 oz</a></li>
                        </ul>
                    </div>
                </div>
                <div class="btn-wrapper"><a href="#" class="btn btn-black">Shop Now</a></div>
                <div class="content-block">
                    <p class="copy-md">Made with grilled white meat and tender vegetables in an authentic savory sauce.<br><br>
                        Ready in 3 minutes. Includes 6 servings.</p>
                </div>
            </div>
        </div>
    </div>
</section>