<section class="product-detail">
  <div class="row align-items-center g-0">
    <div class="col-lg-6">
      <div class="product-detail__swiper">
        <div class="swiper product-detail__main-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="product-detail__image">
                <div class="image-ratio image-ratio--square">
                  <img src="assets/img/product-detail-img-1.png">
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-detail__image">
                <div class="image-ratio image-ratio--square">
                  <img src="assets/img/product-detail-img-2.png">
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-detail__image">
                <div class="image-ratio image-ratio--square">
                  <img src="assets/img/product-detail-img-3.png">
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-detail__image">
                <div class="image-ratio image-ratio--square">
                  <img src="assets/img/product-detail-img-4.png">
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-detail__image">
                <div class="image-ratio image-ratio--square">
                  <img src="assets/img/product-detail-img-5.png">
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-detail__image">
                <div class="image-ratio image-ratio--square">
                  <img src="assets/img/product-detail-img-6.png">
                </div>
              </div>
            </div>

          </div>
          <div class="swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="15.676" height="27.501" viewBox="0 0 15.676 27.501">
              <g id="Border" transform="translate(0 27.501) rotate(-90)">
                <path id="Border-2" data-name="Border"
                  d="M15.676,13.75,1.974,27.5,0,25.521l11.815-11.8L.031,1.948,1.974,0Z"
                  transform="translate(27.501) rotate(90)" fill="#fff">
              </g>
            </svg>
          </div>
          <div class="swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="15.676" height="27.501" viewBox="0 0 15.676 27.501">
              <g id="Border" transform="translate(15.676) rotate(90)">
                <path id="Border-2" data-name="Border"
                  d="M15.676,13.75,1.974,27.5,0,25.521l11.815-11.8L.031,1.948,1.974,0Z"
                  transform="translate(27.501) rotate(90)" fill="#fff">
              </g>
            </svg>
          </div>
        </div>
        <div class="swiper product-detail__thumbs-nav">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="product-detail__thumbs">
                <div class="image-ratio image-ratio--square">
                  <img src="assets/img/product-detail-img-1.png" class="thumb-img">
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-detail__thumbs">
                <div class="image-ratio image-ratio--square">
                  <img src="assets/img/product-detail-img-2.png" class="thumb-img">
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-detail__thumbs">
                <div class="image-ratio image-ratio--square">
                  <img src="assets/img/product-detail-img-3.png" class="thumb-img">
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-detail__thumbs">
                <div class="image-ratio image-ratio--square">
                  <img src="assets/img/product-detail-img-4.png" class="thumb-img">
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-detail__thumbs">
                <div class="image-ratio image-ratio--square">
                  <img src="assets/img/product-detail-img-5.png" class="thumb-img">
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="product-detail__thumbs">
                <div class="image-ratio image-ratio--square">
                  <img src="assets/img/product-detail-img-6.png" class="thumb-img">
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="logo-wrapper">
          <div class="image-ratio image-ratio--square">
            <img src="assets/img/product-logo.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="product-detail__content">
        <div class="breadcrumb-wrapper">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item text-red font-bold"><a href="#">PRODUCTS</a></li>
              <li class="breadcrumb-item text-red font-bold active" aria-current="page">RICE</li>
            </ol>
          </nav>
        </div>
        <div class="product-title">
          <h1 class="font-retail">Yakitori Chicken Fried Rice</h1>
        </div>
        <div class="product-swatches">
          <div class="product-swatches__title">
            <h5 class="font-bold">Available Sizes:</h5>
          </div>
          <div class="product-swatches__btns">
            <ul>
              <li class="active"><a href="#">12 oz</a></li>
              <li><a href="#">64 oz</a></li>
            </ul>
          </div>
        </div>
        <div class="btn-wrapper"><a href="#" class="btn btn-charcoal">Shop Now</a></div>
        <div class="content-block">
          <p class="copy-md">Made with grilled white meat and tender vegetables in an authentic savory sauce.<br><br>
            Ready in 3 minutes. Includes 6 servings.</p>
        </div>
      </div>
    </div>
  </div>
</section>
