<section class="recipe-filter">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="recipe-filter-wrapper">
          <button class="btn btn-reset font-bold" type="button" data-bs-toggle="collapse"
            data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
            FILTER BY
          </button>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-3">
            <div class="filter-category-title">
              <p class="copy-md">
                Cuisine
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="filter-category-title">
              <p class="copy-md">
                Complexity
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="filter-category-title">
              <p class="copy-md">
                Type
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="filter-category-title">
              <p class="copy-md">
                Preparation
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-collapse collapse" id="filterCollapse">
    <div class="container">
      <div class="card card-body">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-3">
                <div class="recipe-filter-options">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="cusineRadio" id="cuisineRadio__1">
                    <label class="form-check-label" for="cuisineRadio__1">
                      Chinese
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="cusineRadio" id="cuisineRadio__2">
                    <label class="form-check-label" for="cuisineRadio__2">
                      Korean
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="cusineRadio" id="cuisineRadio__3">
                    <label class="form-check-label" for="cuisineRadio__3">
                      Japanese
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="cusineRadio" id="cuisineRadio__4">
                    <label class="form-check-label" for="cuisineRadio__4">
                      Thai
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="cusineRadio" id="cuisineRadio__5">
                    <label class="form-check-label" for="cuisineRadio__5">
                      Other
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="recipe-filter-options">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="complexityRadio" id="complexityRadio__1">
                    <label class="form-check-label" for="complexityRadio__1">
                      Easy
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="complexityRadio" id="complexityRadio__2">
                    <label class="form-check-label" for="complexityRadio__2">
                      Intermediate
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="complexityRadio" id="complexityRadio__3">
                    <label class="form-check-label" for="complexityRadio__3">
                      Advanced
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="recipe-filter-options">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio__1">
                    <label class="form-check-label" for="typeRadio__1">
                      Appetizer
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio__2">
                    <label class="form-check-label" for="typeRadio__2">
                      Side Dish
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio__3">
                    <label class="form-check-label" for="typeRadio__3">
                      Soup / Hotpot
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio__4">
                    <label class="form-check-label" for="typeRadio__4">
                      Entree
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio__5">
                    <label class="form-check-label" for="typeRadio__5">
                      Dessert
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="recipe-filter-options">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="preparationRadio" id="preparationRadio__1">
                      <label class="form-check-label" for="preparationRadio__1">
                        Pan / Stir Fry
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="preparationRadio" id="preparationRadio__2">
                      <label class="form-check-label" for="preparationRadio__2">
                        Air Fry
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="preparationRadio" id="preparationRadio__3">
                      <label class="form-check-label" for="preparationRadio__3">
                        Deep Fry
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="preparationRadio" id="preparationRadio__4">
                      <label class="form-check-label" for="preparationRadio__4">
                        Boil / Steam
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="preparationRadio" id="preparationRadio__5">
                      <label class="form-check-label" for="preparationRadio__5">
                        Other
                      </label>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
