<section class="recipe-all">
  <div class="container">
    <div class="recipe-all__top-row mb-2">
      <div class="products-count">
        <p>19 Products</p>
      </div>
      <div class="filter-close-button">
        <button type="button" class="btn btn-reset">Clear All Filters X</button>
      </div>
    </div>
    <div class="row gx-3">
        <div class="col-lg-3 col-6">
            <div class="recipe-card">
                <a href="#" class="recipe-card__inner">
                    <div class="recipe-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/collection-card-img-1.png" alt="">
                        </div>
                    </div>
                    <div class="recipe-meta">
                        <h4>Okonomiyaki</h4>
                        <h6>Serving Size: 3</h6>
                        <h6>Pre Time: 60 mins</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="recipe-card">
                <a href="#" class="recipe-card__inner">
                    <div class="recipe-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/collection-card-img-2.png" alt="">
                        </div>
                    </div>
                    <div class="recipe-meta">
                        <h4>Okonomiyaki</h4>
                        <h6>Serving Size: 3</h6>
                        <h6>Pre Time: 60 mins</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="recipe-card">
                <a href="#" class="recipe-card__inner">
                    <div class="recipe-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/collection-card-img-1.png" alt="">
                        </div>
                    </div>
                    <div class="recipe-meta">
                        <h4>Okonomiyaki</h4>
                        <h6>Serving Size: 3</h6>
                        <h6>Pre Time: 60 mins</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="recipe-card">
                <a href="#" class="recipe-card__inner">
                    <div class="recipe-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/collection-card-img-2.png" alt="">
                        </div>
                    </div>
                    <div class="recipe-meta">
                        <h4>Okonomiyaki</h4>
                        <h6>Serving Size: 3</h6>
                        <h6>Pre Time: 60 mins</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="recipe-card">
                <a href="#" class="recipe-card__inner">
                    <div class="recipe-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/collection-card-img-1.png" alt="">
                        </div>
                    </div>
                    <div class="recipe-meta">
                        <h4>Okonomiyaki</h4>
                        <h6>Serving Size: 3</h6>
                        <h6>Pre Time: 60 mins</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="recipe-card">
                <a href="#" class="recipe-card__inner">
                    <div class="recipe-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/collection-card-img-2.png" alt="">
                        </div>
                    </div>
                    <div class="recipe-meta">
                        <h4>Okonomiyaki</h4>
                        <h6>Serving Size: 3</h6>
                        <h6>Pre Time: 60 mins</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="recipe-card">
                <a href="#" class="recipe-card__inner">
                    <div class="recipe-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/collection-card-img-1.png" alt="">
                        </div>
                    </div>
                    <div class="recipe-meta">
                        <h4>Okonomiyaki</h4>
                        <h6>Serving Size: 3</h6>
                        <h6>Pre Time: 60 mins</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="recipe-card">
                <a href="#" class="recipe-card__inner">
                    <div class="recipe-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/collection-card-img-2.png" alt="">
                        </div>
                    </div>
                    <div class="recipe-meta">
                        <h4>Okonomiyaki</h4>
                        <h6>Serving Size: 3</h6>
                        <h6>Pre Time: 60 mins</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="recipe-card">
                <a href="#" class="recipe-card__inner">
                    <div class="recipe-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/collection-card-img-1.png" alt="">
                        </div>
                    </div>
                    <div class="recipe-meta">
                        <h4>Okonomiyaki</h4>
                        <h6>Serving Size: 3</h6>
                        <h6>Pre Time: 60 mins</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="recipe-card">
                <a href="#" class="recipe-card__inner">
                    <div class="recipe-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/collection-card-img-2.png" alt="">
                        </div>
                    </div>
                    <div class="recipe-meta">
                        <h4>Okonomiyaki</h4>
                        <h6>Serving Size: 3</h6>
                        <h6>Pre Time: 60 mins</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="recipe-card">
                <a href="#" class="recipe-card__inner">
                    <div class="recipe-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/collection-card-img-1.png" alt="">
                        </div>
                    </div>
                    <div class="recipe-meta">
                        <h4>Okonomiyaki</h4>
                        <h6>Serving Size: 3</h6>
                        <h6>Pre Time: 60 mins</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="recipe-card">
                <a href="#" class="recipe-card__inner">
                    <div class="recipe-thumbnail bg-light">
                        <div class="image-ratio image-ratio--square">
                            <img src="assets/img/collection-card-img-2.png" alt="">
                        </div>
                    </div>
                    <div class="recipe-meta">
                        <h4>Okonomiyaki</h4>
                        <h6>Serving Size: 3</h6>
                        <h6>Pre Time: 60 mins</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
  </div>
</section>
