<section class="hero-recipe bg-red">
    <div class="container">
        <div class="content-block text-center text-white">
            <h2>Discover Recipes</h2>
            <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat. 
            </p>
            <div class="btn-wrapper">
                <a href="#" class="btn btn-secondary">Surprise Me!</a>
            </div>
        </div>
    </div>
    <div class="hero-recipe--left-image">
        <div class="image-ratio image-ratio--square">
            <img src="assets/img/hero-recipe--left-image.png" alt="">
        </div>
    </div>
    <div class="hero-recipe--right-image">
        <div class="image-ratio image-ratio--square">
            <img src="assets/img/hero-recipe--right-image.png" alt="">
        </div>
    </div>
</section>