<section class="recommended-products">
  <div class="container-xl position-relative p-0 ">
    <div class="container absolute-center">
        <div class="row">
          <div class="col-lg-3">
            <div class="content-block">
              <h2 class="font-retail">You may also like</h2>
              <div class="btn-wrapper">
                <a href="#" class="btn btn-outline-black">All Products</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row g-0">
      <div class="col-lg-9 ms-auto">
        <div class="recommended-products__slider">
          <div class="swiper swiper-init">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="recommended-products--card">
                  <div class="recommended-products--card--inner">
                    <div class="image-wrapper">
                      <div class="image-ratio image-ratio--square image-ratio--contain">
                        <img src="assets/img/static-2.png" alt="">
                      </div>
                    </div>
                    <div class="product-meta">
                      <h5 class="pb-4">Karaage</h5>
                      <div class="btn-wrapper mt-auto">
                        <a href="#" class="btn btn-black">View Product</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="recommended-products--card">
                  <div class="recommended-products--card--inner">
                    <div class="image-wrapper">
                      <div class="image-ratio image-ratio--square image-ratio--contain">
                        <img src="assets/img/static-3.png" alt="">
                      </div>
                    </div>
                    <div class="product-meta">
                      <h5 class="pb-4">Pork & Chicken Gyoza</h5>
                      <div class="btn-wrapper mt-auto">
                        <a href="#" class="btn btn-black">View Product</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="recommended-products--card">
                  <div class="recommended-products--card--inner">
                    <div class="image-wrapper">
                      <div class="image-ratio image-ratio--square image-ratio--contain">
                        <img src="assets/img/static-4.png" alt="">
                      </div>
                    </div>
                    <div class="product-meta">
                      <h5 class="pb-4">Vegetable Chow Mein</h5>
                      <div class="btn-wrapper mt-auto">
                        <a href="#" class="btn btn-black">View Product</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="recommended-products--card">
                  <div class="recommended-products--card--inner">
                    <div class="image-wrapper">
                      <div class="image-ratio image-ratio--square image-ratio--contain">
                        <img src="assets/img/static-5.png" alt="">
                      </div>
                    </div>
                    <div class="product-meta">
                      <h5 class="pb-4">HONDASHI® 4.23oz Box</h5>
                      <div class="btn-wrapper mt-auto">
                        <a href="#" class="btn btn-black">View Product</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="recommended-products--card">
                  <div class="recommended-products--card--inner">
                    <div class="image-wrapper">
                      <div class="image-ratio image-ratio--square image-ratio--contain">
                        <img src="assets/img/static-3.png" alt="">
                      </div>
                    </div>
                    <div class="product-meta">
                      <h5 class="pb-4">Pork & Chicken Gyoza</h5>
                      <div class="btn-wrapper mt-auto">
                        <a href="#" class="btn btn-black">View Product</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="recommended-products--card">
                  <div class="recommended-products--card--inner">
                    <div class="image-wrapper">
                      <div class="image-ratio image-ratio--square image-ratio--contain">
                        <img src="assets/img/static-4.png" alt="">
                      </div>
                    </div>
                    <div class="product-meta">
                      <h5 class="pb-4">Vegetable Chow Mein</h5>
                      <div class="btn-wrapper mt-auto">
                        <a href="#" class="btn btn-black">View Product</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="recommended-products--card">
                  <div class="recommended-products--card--inner">
                    <div class="image-wrapper">
                      <div class="image-ratio image-ratio--square image-ratio--contain">
                        <img src="assets/img/static-5.png" alt="">
                      </div>
                    </div>
                    <div class="product-meta">
                      <h5 class="pb-4">HONDASHI® 4.23oz Box</h5>
                      <div class="btn-wrapper mt-auto">
                        <a href="#" class="btn btn-black">View Product</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
