<section class="why-choose-us">
    <div class="bg-image">
        <img src="assets/img/why-choose-use-banner.png" alt="">
    </div>

    <div class="why-choose-us__content">
        <div class="container">
            <div class="title-block text-white">
                <h2>Why Use Ajinomoto®</h2>
            </div>

            <div class="block-wrapper text-white">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="content-block">
                            <div class="icon-wrapper">
                                <img src="assets/img/why-choose-icon-1.png" alt="">
                            </div>
                            <div class="text-wrapper">
                                <h3 class="font-helvetica font-bold">Quality</h3>
                                <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat. Aliquam
                                    lacinia est</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="content-block">
                            <div class="icon-wrapper">
                                <img src="assets/img/why-choose-icon-2.png" alt="">
                            </div>
                            <div class="text-wrapper">
                                <h3 class="font-helvetica font-bold">Quality</h3>
                                <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat. Aliquam
                                    lacinia est</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="content-block">
                            <div class="icon-wrapper">
                                <img src="assets/img/why-choose-icon-3.png" alt="">
                            </div>
                            <div class="text-wrapper">
                                <h3 class="font-helvetica font-bold">Quality</h3>
                                <p>Aliquam lacinia est ultrices, ultricies magna maximus, tincidunt lectus. In viverra erat ligula, a fringilla tellus dictum vel. Aliquam erat volutpat. Aliquam
                                    lacinia est</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>