.accordion-with-image {
    padding: 75px 0;
    background-image: url(/assets/img/bg-pattern.png);
    background-repeat: no-repeat;
    background-size: auto;

    .accordion-with-content {
        width: 100%;
        max-width: 792px;

        .product-accordion {
            padding-top: 206px;

            .accordion {
                .accordion-item {
                    background-color: transparent;
                    border-bottom: 1px solid $white;

                    .accordion-header {
                        .accordion-button {
                            background-color: $transparent;
                            color: $white;
                            box-shadow: none;
                            padding: 28px 0;
                            font-weight: 400;

                            &:not(.collapsed) {
                                h4 {
                                    font-weight: bold !important;
                                }
                            }

                            &::after {
                                content: '';
                                width: 25px;
                                height: 15px;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.439' height='14.5' viewBox='0 0 25.439 14.5'%3E%3Cg id='Border' transform='translate(0)'%3E%3Cpath id='Border-2' data-name='Border' d='M14.5,12.719,1.826,25.439,0,23.607,10.929,12.69.029,1.8,1.826,0Z' transform='translate(25.438) rotate(90)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
                                margin-top: 10px;
                            }
                        }
                    }

                    .accordion-body {
                        padding: 30px 0 72px;
                    }
                }
            }
        }

        .product-icons {
            width: 100%;
            max-width: 300px;
            margin-top: 29px;
            display: flex;
            justify-content: space-between;

            .social-icons {
                ul {
                    display: flex;

                    li {
                        @include not-last {
                            margin-right: 27px;
                        }
                    }
                }
            }
        }
    }

    .image-wrapper {
        width: 100%;
        max-width: 772px;
        margin-left: auto;

        .image-ratio {
            padding-top: 120.4%;
        }
    }
}