.brand-story {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 140px 0 160px;

    &__bg {
        // width: 100%;
        // max-width: 90%;
        // margin-left: -295px;
        mix-blend-mode: multiply;
        position: absolute;
        top: 0;
        left: -310px;
        pointer-events: none;
        z-index: 1;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__slider-with-content {
        position: relative;
        z-index: 2;

        .brand-story__swiper {
            padding-bottom: 40px;

            .swiper {
                overflow: visible;

                .swiper-slide {
                    .brand-story-image {
                        border-radius: 15px;
                        overflow: hidden;

                        .image-ratio {
                            padding-top: 140.7%;
                        }
                    }
                }
            }
        }

        .brand-story__headline {
            .btn-wrapper {
                margin-top: 40px;
            }
        }
    }
}