.content-with-bg {
  //   background: url(../img/home-kitchen-bg.png);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: center center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;

  @include media-breakpoint-down(lg) {
    min-height: auto;
    flex-direction: column;
    background-color: #c82828;
  }

  &__image {

    @include media-breakpoint-down (lg) {
      width: 100%;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 1;
      object-fit: cover;
      object-position: center;

      @include media-breakpoint-down(lg) {
        position: relative;
      }
    }

  }

  .container {
    position: relative;
    z-index: 2;
  }

  .content-block {
    width: 100%;
    max-width: 650px;
    padding: 150px 0;

    @include media-breakpoint-down(xl) {
      padding: 64px 0 56px;
      max-width: 500px;
    }

    @include media-breakpoint-down(lg) {
      max-width: none;
    }

    h2 {
      margin-bottom: 52px;

      @include media-breakpoint-down(xl) {
        margin-bottom: 40px;
      }

      @include media-breakpoint-down(lg) {
        margin-bottom: 24px;
      }
    }

    p {
      padding-bottom: 6px;

      @include media-breakpoint-down(lg) {
        padding-bottom: 8px;
      }
    }
  }
}
