.content-with-image {
  position: relative;
  z-index: 2;

  .content-block {
    height: 100%;

    &__inner {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      max-width: 910px;
      padding: 120px 105px;

      @include media-breakpoint-down(xl) {
        padding: 40px 20px;
      }

      @include media-breakpoint-down(lg) {
        padding: 48px 20px;
      }

      h2 {
        margin-bottom: 52px;

        @include media-breakpoint-down(lg) {
          margin-bottom: 24px;
        }
      }
    }

  }

  .image-wrapper {
    height: 100%;
    position: relative;

    .image-ratio {
      padding-top: 0;
      position: static;

      @include media-breakpoint-down(lg) {
        padding-top: 80%;
        position: relative;
      }
    }
  }

  &--bottom-image {
    position: absolute;
    right: 0;
    bottom: -22%;
    width: 100%;
    max-width: 26.5%;
    z-index: 1;

    @include media-breakpoint-down(lg) {
      bottom: -10.5%;
      max-width: 22.5%;
    }

    .image-ratio {
      padding-top: 115%;
    }
  }
}
