.customer-care {
    padding-top: 123px;

    &__title-block {
        padding-bottom: 56px;
    }

    &__info {
        width: 100%;
        max-width: 700px;
    }

    &__image {
        width: 100%;
        max-width: 540px;
        padding-top: 240px;
        position: relative;
        z-index: 1;

        .image-ratio {
            padding-top: 68%;
        }
    }
}