.featured-product {
    padding: 92px 0 140px;
    overflow: hidden;

    .col-content {
        position: relative;
        z-index: 5;
        height: auto;
        background: white;
        display: flex;
        align-items: center;

        .featured-product__content {
            width: 100%;
            max-width: 352px;

            .btn-wrapper {
                margin-top: 50px;
            }
        }
    }

    .col-swiper {
        position: relative;
        z-index: 2;

        .featured-product__slider {
            .swiper {
                overflow: visible;

                .swiper-wrapper {
                    .swiper-slide {
                        height: auto;

                        .featured-product-card {
                            background-color: $light;
                            padding: 75px 50px;
                            border-radius: 15px;
                            height: 100%;

                            .content-block {
                                text-align: center;
                                margin-top: 68px;
                            }
                        }
                    }
                }
            }
        }
    }
}