.featured-collection {
  padding-top: 42px;
  position: relative;

  .title-block {
    margin: 0 auto;
    padding: 55px 0 65px;
  }

  &__images-wrapper {
    .image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 40px;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      @extend .transition;

      img {
        width: 100%;
        height: auto;
      }

      &.show {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &--swiper {
    padding-bottom: 66px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background: $white;
      width: 100%;
      left: 0;
      top: 0;
      height: 42%;
    }
  }

  &__block {
    height: 100%;

    &__inner {
      display: flex;
      flex-direction: column;
      height: 100%;

      .image-wrapper {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 20px;

        img {
          object-position: bottom;
        }
      }

      .product-meta {
        flex: 1 1 100%;
        margin-top: auto;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        @extend .transition;

        .btn-wrapper {
          .btn {
            padding: 11px 20px;
          }
        }
      }
    }
  }

  .swiper-slide {
    //   width: 100%;
    //   max-width: 305px;
    //   padding: 0 30px;
    height: auto;
    @extend .transition;
    padding: 30px 0;

    &:hover {
      transform: scale(1.1);

      .featured-collection__block {
        &__inner {
          .product-meta {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
          }
        }
      }
    }
  }
}
