.featured-recipes {
    padding: 108px 0 125px;
    background-image: url('/assets/img/Featured-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &__cards {

        .image-wrapper {
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 28px;
        }
    }
}