.get-in-touch {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: -30px;
    overflow: hidden;

    &__pattern {
        position: absolute;
        right: 0;
        bottom: 0;
        mix-blend-mode: multiply;
        pointer-events: none;
    }

    &__image {
        .image-ratio {
            padding-top: 66%;
        }
    }

    &__info {
        padding: 128px 0 0 152px;
        position: relative;
        z-index: 0;

        .contact-box {
            padding-top: 53px;

            p {
                @include not-last {
                    padding-bottom: 35px;
                }
            }
        }

        .social-icons {
            padding-top: 51px;

            ul {
                display: flex;
                padding-left: 0;

                li {
                    @include not-last {
                        margin-right: 35px;
                    }
                }
            }
        }
    }
}