.hero {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  padding: 250px 0 110px;

  .hero-bg-swiper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;

    * {
      pointer-events: none;
    }
  }

  .hero-caption {
    width: 100%;
    position: relative;
    z-index: 1;

    .content-block {
      width: 100%;
      max-width: 705px;

      h2 {
        margin-bottom: 42px;
      }

      p {
        width: 100%;
        max-width: 560px;
      }

      .btn-wrapper {
        margin-top: 40px;
      }
    }

    &__pagination {

      position: relative;
      bottom: 0;
      pointer-events: all;
      left: unset;
      text-align: left;
      margin-bottom: 10px;

      .swiper-pagination-bullet {
        width: 19px;
        height: 19px;
        opacity: 1;
        background-color: transparent;
        margin: 0;
        border: 1px solid $white;

        @include not-last {
          margin-right: 13px;
        }

        &-active {
          background-color: $white;
        }
      }
    }
  }


  .hero-bottom-image {
    position: absolute;
    right: 0;
    bottom: -22%;
    width: 100%;
    max-width: 26.5%;
    z-index: 1;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    .image-ratio {
      padding-top: 93%;
    }
  }
}
