.hero-brand {
    position: relative;

    .hero-brand-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        .hero-image {
            img {
                @include object-fit(cover, center);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }

        .hero-caption {
            position: relative;
            padding: 250px 0 110px;
            margin-top: auto;
            z-index: 2;

            .content-block {
                width: 100%;
                max-width: 705px;

                h1 {
                    margin-bottom: 42px;
                }

                p {
                    width: 100%;
                    max-width: 560px;
                }

                .btn-wrapper {
                    margin-top: 40px;
                }
            }
        }
    }
}