.ingredients {
    position: relative;

    .ingredients-bg {
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: 1;
        }
    }

    &__content {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 90px 0;
        position: relative;
        z-index: 2;

        .ingredients-desp {
            ul {
                li {
                    @include not-last {
                        margin-bottom: 14px;
                    }
                }
            }
        }
    }

    .ingredients-product {
        width: 100%;
        max-width: 415px;
        margin-left: auto;
        background-color: $white;
        border-radius: 15px;
        padding: 94px 50px 65px;
        text-align: center;

        .image-wrapper {
            .image-ratio {
                padding-top: 145%;
            }
        }

        .product-title {
            margin-top: 30px;
        }

        .btn-wrapper {
            margin-top: 30px;
        }
    }
}