.insta-feed {
  padding: 152px 0 62px;

  .title-block {
    max-width: 930px;
    
    h2 {
      color: $red_secondary;
      margin-bottom: 42px;
    }
  }

  &__swiper {
    .swiper-slide {
      width: 100%;
      max-width: 262px;
      margin-right: 20px;
    }
  }
}
