.mega-menu {
  top: var(--header-height);
  left: 0;
  width: 100% !important;
  padding: 44px 0 65px;
  @extend .transition;
  z-index: 11;
  border: none;
  border-radius: 0;

  &__card {
    height: 100%;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;

      .image-ratio {
        padding-top: 72%;
      }
    }
  }
}

.menu-opened {
  &::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    //   display: block;
    //   visibility: hidden;
    //   opacity: 0;
    background-color: rgba(0, 0, 0, .7);
    @extend .transition;
    z-index: 5;
  }
}
