.our-store-location {
    padding: 105px 0 82px;

    .image-wrapper {
        .image-ratio {
            padding-top: 60%;
        }
    }
}

.page-store-locator .hero-inner-page__bottom-image {
    display: none;
}