.product-card {
  height: 100%;
  padding: 45px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    .product-thumbnail {
      border-radius: 15px;
      padding: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      overflow: hidden;

      .image-ratio {
        >img {
          width: auto;
          height: auto;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .product-meta {
        h5 {
            font-size: 26px;
            line-height: 32px;
            @extend .font-medium;
            @extend .font-helvetica;
        }
    }
  }
}
