.product-detail {
  overflow: hidden;

  &__main-swiper {
    .swiper-slide {
      .product-detail__image {

        .image-ratio {
          padding-top: 104%;
          width: 100%;
        }
      }
    }
  }

  &__swiper {
    position: relative;

    .swiper-button-next,
    .swiper-button-prev {
      width: auto !important;
      height: auto !important;

      &::after {
        display: none;
      }
    }

    .swiper-button-next {
      right: 78px;
    }

    .swiper-button-prev {
      left: 100px;
    }


    .product-detail__thumbs-nav {
      width: 100%;
      max-width: 450px;
      //   margin: 30px auto;
      position: absolute;
      bottom: 80px;
      left: 50%;
      transform: translateX(-50%);

      .swiper-slide {
        width: 100%;
        max-width: 50px;
        max-height: 50px;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid transparent;

        @include not-last {
          margin-right: 25px;
        }

        .thumb-img {
          border-radius: 10px !important;
        }
      }

      .swiper-slide-thumb-active {
        border-color: $white;
      }
    }

    .logo-wrapper {
      position: absolute;
      top: 54px;
      right: 38px;
      z-index: 1;
      width: 100%;
      max-width: 170px;
    }
  }

  &__content {
    width: 100%;
    max-width: 855px;
    padding-left: 135px;

    .product-swatches {
      padding-top: 43px;
      display: flex;
      align-items: center;

      .product-swatches__btns {
        ul {
          display: flex;

          li {
            padding: 7px 20px;
            border: 1px solid $black;
            border-radius: 25px;

            @include not-last {
              margin-right: 28px;
            }

            &:hover {
              background-color: $black;
              color: $red;
            }
          }

          .active {
            border: 3px solid $black;
          }
        }
      }
    }

    .btn-wrapper {
      padding-top: 42px;
    }

    .content-block {
      padding-top: 93px;
    }
  }
}
