.product-how-to-use {
  padding-top: 110px;
  padding-bottom: 215px;
  position: relative;
  // overflow: hidden;

  .product-usage-swiper {
    position: static;
    padding-top: 85px;

    .swiper-wrapper {
      position: static;

      .swiper-slide {
        width: 100%;
        max-width: 620px;
        padding: 0 30px;

        .product-use__card {
          border-radius: 15px;
          background-color: $white;

          .image-wrapper {
            .image-ratio {
              padding-top: 66%;
            }
          }

          .content-block {
            padding: 30px 30px 85px 30px;

            h4 {
              padding-bottom: 37px;
            }
          }
        }
      }
    }

    .swiper-button-wrapper {
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
      min-height: 86px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      top: 0;
      width: 86px;
      height: 86px;
      margin: 0;
      pointer-events: all;

      &::after {
        display: none;
      }
    }

    .swiper-button-prev {
      left: 20px;
    }

    .swiper-button-next {
      right: 20px;
    }
  }

  .product-bottom-image {
    position: absolute;
    right: 0;
    bottom: -100px;
    width: 100%;
    max-width: 27.5%;

    .image-ratio {
      padding-top: 72%;
    }
  }
}
