.product-how-to-use {
    padding-top: 110px;
    padding-bottom: 215px;
    position: relative;
    // overflow: hidden;

    .product-usageSwiper {
        position: static;

        .swiper-wrapper {
            position: static;

            .swiper-slide {
                .product-use__card {
                    margin-top: 85px;
                    border-radius: 15px;
                    background-color: $white;

                    .image-wrapper {
                        .image-ratio {
                            padding-top: 66%;
                        }
                    }

                    .content-block {
                        padding: 30px 30px 85px 30px;

                        h4 {
                            padding-bottom: 37px;
                        }
                    }
                }
            }
        }

        .swiper-button-prev {
            left: 115px;
            top: 150px;
            width: 86px;
            height: 86px;

            &:after {
                display: none;
            }
        }

        .swiper-button-next {
            right: 115px;
            top: 150px;
            width: 86px;
            height: 86px;

            &:after {
                display: none;
            }
        }
    }

    .product-bottom-image {
        position: absolute;
        right: 0;
        bottom: -100px;
        width: 100%;
        max-width: 27.5%;

        .image-ratio {
            padding-top: 72%;
        }
    }
}