.why-choose-us {
    position: relative;
    background-color: rgba(0, 0, 0, 0.89);

    &__content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 122px 0;

        .block-wrapper {
            padding-top: 77px;

            .content-block {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                max-width: 520px;

                .icon-wrapper {
                    padding-bottom: 23px;
                }

                .text-wrapper {
                    margin-top: auto;

                    h3 {
                        padding-bottom: 35px;
                    }
                }
            }
        }
    }
}