.site-footer {
  position: relative;
  z-index: 1;
  font-size: 16px;
  padding: 83px 0 44px;

  @include media-breakpoint-down(lg) {
    padding: 40px 0 48px;
    background-color: $light;
  }

  &__logo {
    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: 140px;
    }
  }

  h6 {
    margin-bottom: 24px;
    @extend .font-bold;
    @extend .text-capitalize;

    @include media-breakpoint-down(lg) {
      margin-bottom: 16px;
    }
  }

  .h6-lg {
    @extend .text-uppercase;
  }

  &__links {

    @include media-breakpoint-down(lg) {
      margin-bottom: 32px;
    }

    ul {
      li {
        @include not-last {
          margin-bottom: 20px;

          @include media-breakpoint-down(lg) {
            margin-bottom: 16px;
          }
        }

        a {
          font-size: 17px;
          line-height: 25px;
          display: block;

          @include media-breakpoint-down(lg) {
            font-size: 15px;
          }
        }
      }
    }

    p {
      margin-top: 68px;
      @extend .font-bold;
    }
  }

  &__newsletter {

    @include media-breakpoint-down(xl) {
      width: 100%;
      max-width: 50%;
    }

    @include media-breakpoint-down(lg) {
      max-width: none;
    }

    h6 {
      letter-spacing: 1.5px;

      @include media-breakpoint-down(lg) {
        letter-spacing: 2px;
        margin-bottom: 8px;
      }
    }

    p {
      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }

    .newsletter-block {
      margin-top: 35px;

      @include media-breakpoint-down(lg) {
        margin-top: 24px;
      }

      .input-group {
        .form-control {
          padding: 14px 24px;
          font-size: 20px;
          font-weight: 400;
          line-height: 1.5;
          color: $dim_black;
          background-color: transparent;
          border: 1px solid $dim_black;
          border-right: none;
          border-radius: 0;
          height: 63px;
          border-radius: 15px;

          @include media-breakpoint-down(md) {
            height: 48px;
            font-size: 14px;
          }

          @include placeholder {
            color: $red;
          }

          &:focus {
            box-shadow: none;
            outline: none;
          }
        }

        .submit-btn {
          border-radius: 0;
          // width: 45px;
          height: 63px;
          border: 1px solid;
          border-color: $dim_black;
          border-left: none;
          border-radius: 15px;
          padding: 14px 24px;

          @include media-breakpoint-down(md) {
            height: 48px;
            padding: 10px 16px;
          }

          svg {
            @include media-breakpoint-down(md) {
              width: 20px;
              height: 16px;
            }
          }

          &:focus {
            box-shadow: none;
            outline: none;
          }

          &:hover {
            color: $red;
          }
        }
      }
    }
  }

  &__bottom {
    padding-top: 130px;
    width: 100%;
    max-width: 680px;
    margin: 0 auto;

    @include media-breakpoint-down(lg) {
      padding-top: 32px;
    }

    .social-links {
      padding-bottom: 12px;

      @include media-breakpoint-down(lg) {
        padding-bottom: 16px;
      }

      ul {
        li {
          @include not-last {
            margin-right: 30px;

            @include media-breakpoint-down(lg) {
              margin-right: 16px;
            }
          }

          a {
            display: block;
          }
        }
      }
    }

    .policy-links {
      ul {
        li {
          a {
            padding-right: 10px;

            @include media-breakpoint-down(md) {
              font-size: 14px;
              line-height: 32px;
            }
          }

          @include not-last {
            margin-right: 10px;

            &::after {
              content: '|';
              line-height: 1;
            }
          }
        }
      }
    }
  }
}
