.site-header {
  position: sticky;
  padding: 10px 0;
  top: 0;
  width: 100%;
  display: block;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, .23);
  z-index: 99;

  .page-home & {
    position: fixed;
    left: 0;
    box-shadow: none;
    border-bottom: 1px solid $white;
    color: $white;
  }

  .page-brand & {
    position: fixed;
    left: 0;
    box-shadow: none;
    border-bottom: 1px solid $white;
    color: $white;
  }

  .menu-opened &,
  .is-scrolling & {
    background-color: $white;
    color: $dim_black;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    display: none;

    @include media-breakpoint-down(lg) {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
  }

  .navbar-toggler {
    width: 52px;
    height: 32px;
    padding: 0;
    border: none;
    outline: none !important;
    overflow: hidden;
    transition: 0.2s all ease;
    padding-left: 10px;
    position: relative;
    z-index: 2;
    box-shadow: none !important;
    color: inherit;

    svg {
      cursor: pointer;
      transform: translate3d(-18px, -9px, 0) scale(1.8);
      width: 47px;
      height: 47px;

      path {
        fill: none;
        transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
        stroke-width: 32px;
        stroke-linecap: round;
        stroke: currentColor;
        stroke-dashoffset: 0px;

        &#top,
        &#bottom {
          stroke-dasharray: 240px 950px;
        }

        &#middle {
          stroke-dasharray: 240px 240px;
        }
      }
    }

    &[aria-expanded="true"] {
      svg {
        path {

          &#top,
          &#bottom {
            stroke-dashoffset: -650px;
            stroke-dashoffset: -650px;
          }

          &#middle {
            stroke-dashoffset: -115px;
            stroke-dasharray: 1px 220px;
          }
        }
      }
    }
  }

  .navbar-collapse {
    margin-left: 80px;

    @include media-breakpoint-down(lg) {
      display: block !important;
      opacity: 1 !important;
      height: 100vh !important;
      width: 100% !important;
      position: fixed;
      top: 0;
      left: 0;
      transform: translate(-100%);
      transition: 0.3s all ease !important;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: $green;
      //   background-image: url(../img/hero-bg.png);
      background-position: top left;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
    }

    &.show {
      transform: translate(0);
    }
  }

  .navbar {
    .navbar-nav-wrapper {
      .navbar-nav {
        .nav-item {
          @include not-last {
            margin-right: 67px;
          }

          .nav-link {
            padding: 0;
            font-size: 21px;
            line-height: 24px;
            padding: 23px 0;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              left: 0;
              width: 0;
              height: 4px;
              background-color: $red;
              bottom: -12px;
              @extend .transition;
            }

            &:hover {
              &::after {
                width: 100%;
              }
            }
          }

          .dropdown-toggle {
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              bottom: -11px;
              width: 100%;
              pointer-events: none;
            }

            &.show {
              color: $red;

              &::before {
                pointer-events: all;
              }

              &::after {
                width: 100%;
              }
            }
          }

          &.active {
            .nav-link {
              color: $red;

              &::after {
                width: 100%;
              }
            }
          }
        }
      }

      .btn-wrapper {
        .btn {
          padding: 13px 44px;
        }
      }
    }
  }
}